<div class="mx-auto text-center gap gap-cols-1">
  <% if @user_agent.downcase.include? "snowfox" %>
    <h1 class="text-3xl mb-6"><%= @article.title %></h1>
    <p><%= @article.content %></p> 
    <p>Flag: 1rst_article}</p>
  <% else %>
    <p>現在はSnowFoxブラウザのみに対応しています</p>
    <p>ブラウザを変えてもう一度お試しください</p>
  <% end %>
</div>
